html, body{
    margin: 0px;
    background-color: #2F4F30;
}

.titulo{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
}
.carta{
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}
h1{
    color: white;
}
#jugador-carta, #computadora-carta{
    height: 240px;
}